/*///GENERAL LOOK//*/

body {
  font-family: "Helvetica Neue";
}

button,
input {
  outline: none;
}

/*//////////////////*/

/*Showing the invoices we already have*/
.container {
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  background: #9aa0a8;
  overflow: scroll;
  height: 35em;
}

img {
  margin-left: 0.5em;
  cursor: pointer;
}

.invoice {
  margin: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e5d4c0;
  border-radius: 10px;
}

.invoice-result {
  display: flex;
  justify-content: space-between;
}
/*for the edit+delete button*/
.button-container {
  display: inline-block;
}

/*//////////////////*/

/*Add/Edit invoice dialogue*/

.invoiceDialogueEdit-container,
.invoiceDialogueAdd-container {
  height: 70%;
  width: 80%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #e8eef2;
  border-radius: 10px;
  color: #36413e;
}

.invoiceDialogueAdd-container input,
.invoiceDialogueEdit-container input {
  width: 150px;
  padding: 0.5em;
  margin: 0.5em;
}
.information {
  border-radius: 10px 0 0 0;
}

/*Add dialogue input fields container*/
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 0.5em;
  padding: 1em;
  background: #a5ffd6;
  margin: 2em;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  color: #36413e;
  cursor: pointer;
}
/*signifying selected vs not selected items*/
.active {
  background: #a5ffd6;
  padding: 1em;
}

.non-active {
  background: grey;
  opacity: 0.3;
  padding: 1em;
  color: black;
}
/*toggle and the accompanying text*/
.toggle {
  display: flex;
  font-size: 0.8em;
}

/*sideBar of the dialogue*/
.choosingTabs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  width: 20%;
  border-radius: 10px 0 0 0;
}

/*dialogue for large screen*/
.bigScreen {
  margin-left: 20%;
}

.bigScreen input {
  margin-bottom: 0;
}

/*///////serach by IBAN field//////*/

.searchResults {
  overflow: scroll;
}

.result {
  padding: 1em;
  border: 1px solid black;
  width: 60%;
  margin: 0.1em auto;
  cursor: pointer;
  background: #e5d4c0;
  border-radius: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
