body {
  font-family: "Helvetica Neue";
}

.button-container {
  display: inline-block;
}

button {
  margin-left: 0.5em;
}

.invoices-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2em;
  text-align: center;
}

.invoices-container h1 {
  display: inline;
}

.invoice {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.invoiceDialogEdit-container,
.invoiceDialogAdd-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background: lavender;
}

.invoiceDialogEdit-container {
  background: lavender;
}

.invoiceDialogAdd-container {
  background: lightblue;
}

.invoiceDialogAdd-container input,
.invoiceDialogEdit-container input {
  width: 150px;
  padding: 0.5em;
  margin: 0.5em;
}

.invoiceDialogEdit-container h1 {
  display: block;
}

.choosingTabs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  width: 15%;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  background: green;
  padding: 1em;
}

.non-active {
  background: grey;
  opacity: 0.3;
  padding: 1em;
  color: black;
}

.toggle {
  display: flex;
  font-size: 0.8em;
}

.result {
  padding: 1em;
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .choosingTabs {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    height: 20%;
  }

  .inputs {
    margin-top: 35%;
  }
}
