body {
  font-family: "Helvetica Neue";
}

.button-container {
  display: inline-block;
}

button {
  margin-left: 0.5em;
  padding: 1em;
  background: #a5ffd6;
  margin: 2em;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  color: #36413e;
  cursor: pointer;
}

.container {
  position: relative;
  width: 55%;
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  border-radius: 10px;
  background: #9aa0a8;
}

.invoice {
  margin: 1em;
  padding: 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #e5d4c0;
  border-radius: 10px;
}

.invoice-result {
  display: flex;
  justify-content: space-between;
}

.invoiceDialogEdit-container,
.invoiceDialogAdd-container {
  height: 70%;
  width: 80%;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #e8eef2;
  border-radius: 10px;
  color: #36413e;
}

.invoiceDialogAdd-container input,
.invoiceDialogEdit-container input {
  width: 150px;
  padding: 0.5em;
  margin: 0.5em;
}

.invoiceDialogEdit-container h1 {
  display: block;
}

.choosingTabs {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  width: 20%;
  border-radius: 10px 0 0 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  background: #a5ffd6;
  padding: 1em;
}

.react-switch-bg {
  background: #a5ffd6;
}

.non-active {
  background: grey;
  opacity: 0.3;
  padding: 1em;
  color: black;
}

.toggle {
  display: flex;
  font-size: 0.8em;
}

.searchResults {
  overflow: scroll;
}

.result {
  padding: 1em;
  border: 1px solid black;
  width: 60%;
  margin: 0.1em auto;
  cursor: pointer;
  background: #e5d4c0;
  border-radius: 10px;
}

img {
  margin-left: 0.5em;
  cursor: pointer;
}

.bigScreen {
  margin-left: 20%;
}

.bigScreen input {
  margin-bottom: 0;
}
